@using Microsoft.AspNet.Identity


    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="loginButton">@Html.ActionLink("Log in", "Login","Home")</li>
      
        <li class="userInfo" style="display: none">
            Hello <span class="userName"></span><input type="button" value="log Out" id="logOut" />
        </li>
    </ul>




@section scripts{
    <script type="text/javascript">
        $(function () {
            var tokenKey = "tokenInfo";
            //..................................
            $('#getItemsButton').click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'GET',
                    url: '/api/values/',
                    beforeSend: function (xhr) {

                        var token = sessionStorage.getItem(tokenKey);
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    },
                    success: function (data) {
                        alert(data);
                    },
                    fail: function (data) {
                        alert(data);
                    }
                });
            });
        })
    </script>
    <script type="text/javascript">
        $(function () {
            //...........................

            var tokenKey = "tokenInfo";
            $('#submitLogin').click(function (e) {
                e.preventDefault();
                var loginData = {
                    grant_type: 'password',
                    username: $('#emailLogin').val(),
                    password: $('#passwordLogin').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/Token',
                    data: loginData
                }).success(function (data) {
                    $('.userName').text(data.userName);
                    $('.userInfo').css('display', 'block');
                    $('.loginButton').css('display', 'none');
                    // сохраняем в хранилище sessionStorage токен доступа
                    sessionStorage.setItem(tokenKey, data.access_token);
                    console.log(data.access_token);
                }).fail(function (data) {
                    alert('При логине возникла ошибка');
                });
            });

            $('#logOut').click(function (e) {
                e.preventDefault();
                $('.userInfo').css('display', 'none');
                $('.loginButton').css('display', 'block');
                sessionStorage.removeItem(tokenKey);
            });
        })
    </script>
    <script type="text/javascript">
        $(function () {
            $('#submit').click(function (e) {
                e.preventDefault();
                var data = {
                    Email: $('#email').val(),
                    Password: $('#password').val(),
                    ConfirmPassword: $('#confirmpassword').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/Account/Register',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data)
                }).success(function (data) {
                    alert("Регистрация пройдена");
                }).fail(function (data) {
                    alert("В процесе регистрации возникла ошибка");
                });
            });
        })
    </script>

}
